<form>
    <br/><br/><br/>
    <div class="box">
        
        <ul class="nav nav-tabs">
            <li role="presentation" [class.active]="isMovie" class="active" (click)="onMovieClicked()"><a>Movies</a></li>
            <li role="presentation" [class.active]="isMovie === false" (click)="onShowClicked()"><a>Tv Shows</a></li>
            
            <div class="row col-md-2" style="float:right">
            <select class="form-control col-md-2" (change)="onFilterChange($event.target.value)">
                <option value="{{popularity}}">By Popularity</option>
                <option value="{{rating}}">By Rating</option>
            </select>
        </div>

        </ul><br/>
        <router-outlet></router-outlet>
        
    </div>
</form>
